.dark {
    .nodeCard {
      color: white;
      background: rgb(77, 77, 77);
      border: 1px solid #494949;
  
      &:hover {
        box-shadow: 0 15px 18px -3px rgb(0 0 0 / 10%);
      }
    }
  

  }
  
  .light {
    .nodeCard {
      color: black;
      background: white;
      border: 1px solid #ededed;
  
      &:hover {
        box-shadow: 0 15px 18px -3px rgb(0 0 0 / 10%);
      }
    }
  }
  
  .nodeCard {
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 4%);
    transition: all 0.2s ease-in-out;
  }
  
  .nodeForeginObject {
    &:hover {
      cursor: pointer;
    }
  }
  
  .cardContentP {
    margin-bottom: 5px;
  }

  